.app{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #334443;
}

.app__body{
    display: flex;
    background-color: #34656d;
    margin-top: 7px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgb(0, 0, 0, 0.75);
}