.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.3;
}


/* Sidebar Header */

.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid whitesmoke;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight > .icon{
    margin-right: 2vw;
    font-size: 10px !important;
}


/* Sidebar Search */

.sidebar__search{
    display: flex;
    align-items: center;
    background-color: lightgray;
    height: 40px;
    padding: 10px;
}

.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    height: 35px;
    width: 100%;
    border-radius: 30px;
}

.sidebar__searchContainer > .icon{
    color: gray !important;
    padding: 10px !important;
}

.sidebar__searchContainer > input{  
    border: none;
    margin-left: 10px;
    background-color: #eeeeee;
    outline-width: 0;
}


/* Sidebar Chats */

.sidebar__chats{
    flex: 1;
    background-color: lightseagreen;
    overflow-y: scroll;
}

.sidebar__chats::-webkit-scrollbar{
    display: none;
}